# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Micro.Net.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\AlexRhees\Documents\GitHub\Micro.NET\src\Micro\Micro.Net\.idea\.idea.Micro.Net\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
